.fundo{
    margin-right: 250px;
    margin-left: 250px;
}

body {
    background-color: #aeb9c4;
}

h1 {
    text-shadow: 1px 1px 1px white;
    text-align: center;
}

#results {
    display: none;
}

table {
    width: 100%;
    margin-top: 20px;
    padding: 1%;
}

th, td {
    
    text-align: center;
}